*{
    margin:0;
    padding: 0;
    
}

.border{
    border:solid 1px grey;
    padding:1em;
    border-radius: 5px;
   
}
body{
    background-color:burlywood;
}
.container{
    background-color: cadetblue;
    border:double 5px crimson;
    width:70%;
    border-radius: 10px;
    margin-top: 20px;
  
}
input:focus{
    background-color:lightpink;
}
option,textarea:focus{
    background-color: lightpink;
}
.btn-gourmet {
    color: #fff;
    background-color: darkgoldenrod;
    border-color:gold;
}